:root {
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #4568DC;

    background: -webkit-linear-gradient(to right, #57867c, #11a1a5);
    
    background: linear-gradient(to right, #e6a90fe6, #df521fc4);
   
    height: 950px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* TEXTO FORMULARIO*/
h1{
    text-align: center;
    font-weight: 600;
}

form{
    background: rgb(255, 255, 255);
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.form{
    width: 100%;
    margin: auto;
}

/* TAMAÑO FORMULARIO */
form .grupo{
    position: relative;
    margin: 45px ;
}
/*COLORES DE INGRESO DE INFORMACIÓN*/
input{
    background: none;
    color: #c6c6c6;
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: -8px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #d86d1a, #d5db18);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

/* BOTON ENVIAR*/

button{
    font-family: 'roboto';
    background: #4568DC;
    
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    
    background: linear-gradient(to right, #dc5e0bd4, #de4b15c4);
    
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}

